*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing:inherit;
}

html{
    font-size:62.5%;
    box-sizing:border-box;
}

body {
    padding: 5rem 5rem 10rem;
    line-height: 1.7rem;
    font-family: 'Nunito Sasnsics', sans-serif;
    color: #555;

}